body {
    background-color: rgb(68, 68, 68);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    color: rgb(190, 190, 190);
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.main {}

.conteudo-principal {
    display: flex;
    margin: 56px;
    background-color: rgb(245, 245, 245);
    background-size: 70%;
    justify-content: center;
    padding: 3rem;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    box-shadow: 1px 1px 3px rgb(0, 0, 0);
}

.rodape {
    text-align: center;
    padding-top: 20px;
    color: rgb(255, 255, 255);
    text-shadow: -0.5px 0 black, 0 1px black, 1px 0 black, 0 -0.5px black;
}